*{
    margin: 10;
    padding: 40;
}
    .main{
        background-color: #343a40;
        color: #fff;
        height: auto;
        width: 260px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin: auto;
    }
    .btn{
        transition-duration: 0.4ms;
        height: auto;
        width: 40px;
        border-radius: 50%;

    }
    .btn:hover{
        background-color: white;
        color: blue;
    }

    .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }